{% extends 'base.html' %}
{% block content %}

<title>{% block title %} Leaderboard {% endblock %}</title>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/leaderboard.css') }}"/>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/guest.css') }}"/>
<body>

  <header>
    <nav class="navbar">
        <div class="logo">
            <a href="{{ url_for('index') }}">GeoVenture</a>
        </div>
        <ul class="navbar-items">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('leaderboard') }}">Leaderboard</a></li>
            <li><a href="#featured">Featured</a></li>
            <li class="user">
                {% if current_user.is_authenticated %}
                    <a href="{{ url_for('profile') }}">{{ current_user.username }}</a>
                    <a href="{{ url_for('logout') }}">Logout</a>
                {% else %}
                    <a href="{{ url_for('register') }}">Sign Up</a>
                    <a href="{{ url_for('login') }}">Sign In</a>
                {% endif %}
            </li>
        </ul>
    </nav>
  </header>

      <h1>Leaderboard</h1>

      <table>
        <thead>
          <tr>
            <th class="rank">Rank</th>
            <th>Name</th>
            <th>Points</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
            <td class="rank">{{ loop.index }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.points }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</body>

{% endblock %}