{% extends 'base.html' %}
{% block content %}
<head>
    <title>{% block title %}GeoVenture{% endblock %}</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/guest.css') }}"/>
</head>

<body>

    <header>
    <nav class="navbar">
        <div class="logo">
            <a href="{{ url_for('index') }}">GeoVenture</a>
        </div>
        <ul class="navbar-items">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('leaderboard') }}">Leaderboard</a></li>
            <li><a href="#featured">Featured</a></li>
            <li class="user">
                {% if current_user.is_authenticated %}
                    <a href="{{ url_for('profile') }}">{{ current_user.username }}</a>
                    <a href="{{ url_for('logout') }}">Logout</a>
                {% else %}
                    <a href="{{ url_for('register') }}">Sign Up</a>
                    <a href="{{ url_for('login') }}">Sign In</a>
                {% endif %}
            </li>
        </ul>
    </nav>
  </header>

    <div class="slithering-container">
        <div class="slithering-card">
            <img id="gifDisplay" src="" alt="GIF" />
            <p id="timer"></p>
        </div>
    </div>

    <div class="input">
        <input type="text" id="input" placeholder="Enter the country name" />
        <button onclick="checkInput()">Guess</button>
    </div>

    <script src="/static/js/slitheringGame.js"></script>
</body>
{% endblock %}
